body{
  background: url("/images/flower.jpg") no-repeat left top;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.jumbotron{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 6em;
}

.form-signin{
  margin-top: 10%;
}
