body{
  background: url("/images/flower.jpg") no-repeat left top;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.jumbotron{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 6em;
}

.form-signin{
  margin-top: 10%;
}

hr{
  border-top: 1px solid #aaa;
}

#mainform{
  .sub{
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.3em;
  }
  .survey.title{
    font-size: 2.0em;
    font-weight: bold;
    line-height: 2.2em;
  }
  .survey.content{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.8em;
  }
}
