.container
  if survey.id
    h1.page-header 설문수정
  else
    h1.page-header 설문작성

  form#form-task.form-inline(class='surveys', action = (survey.id) ? "/surveys/#{survey.id}?_method=PUT" : "/surveys", method='POST')
    .form
      .main
        #mainform
          input(type='text', class='input_text', id='title', name='title', placeholder='설문 제목', value=survey.title)
          textarea.form-control(rows='5', class='input_text', id='content', name='content', placeholder='설문 설명')=value=survey.content
          hr
    .actions
        button#post-task.btn.btn-primary.btn-lg.btn-block(type='submit') 저장
