.row
  .col-md-8
    ul.nav.nav-pills
      li.active(role='presentation')
        a(href='/')
          span.glyphicon.glyphicon-home(aria-hidden='true')
      li(role='presentation')
        a(href='/surveys') 설문만들기
  .col-md-4
    ul.nav.nav-pills
        if (currentUser) 
          li
            a(href='/users/#{currentUser._id}') Profile
          li
            a(href='/signout') Signout
        else
          li
            a(href='/signin') Signin
          li
            a(href='/users/new') Signup
