extends layout  

block content
  .container
    .input-group.input-group-lg
      span#basic-addon1.input-group-addon 설문 제목
      input.form-control(type='text', aria-describedby='basic-addon1')
    br
    div
      textarea.form-control(rows='3') 설문 설명
    br
    #question
    .input-group
      .input-group-btn
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
          | 질문유형
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a#button_multiple(href='#') 객관식
          li
            a#button_txt(href='#') 텍스트
          li
            a#button_longtxt(href='#') 단락 텍스트
    button.btn.btn-info.btn-lg(type='submit') 추가
